@import "tailwindcss";

.contact {
  width: 676px;
  height: 834px;
  border-radius: 15px;
  opacity: 1;
  top: 95px;
  left: 382px;
  padding: 32px;
  gap: 16px;
  background-color: white;

}

:root {
  --gray: rgba(96, 105, 92, 1);
}

@layer utilities {
  .text-Scolor {
    color: var(--gray);
  }
}
.checkout {
  width: 100px;
  height: 40px;
  top: 403px;
  left: 1207px;
  border-radius: 11px;
  border-width: 1px;
  padding-top: 8px;
  padding-right: 24px;
  padding-bottom: 8px;
  padding-left: 24px;
  gap: 8px;
  opacity: 1;

}